.rbc-header{
      color:#EAB308;
}

.rbc-allday-cell{
     display: none;
     color: blue;
}

.rbc-time-header-cell .rbc-today{
      background-color: rgb(166, 226, 110);
      color: azure;
}
.rbc-time-slot{
      color:#EAB308;
      z-index: 1;
}
.rbc-time-slot:not(.rbc-today .rbc-time-slot){
      background-color: #eab2081c;
}
/*Event Styles*/
.rbc-event,
.rbc-background-event {
  z-index: 2;
  padding: 0px !important;
  border: none !important;
}

.rbc-event-label {
  display: none !important;
}

.rbc-events-container {
  width: 100% !important;
}

/*Timeslots Customization*/
.rbc-day-slot .rbc-time-slot:after {
  content: "";
  width: 100%;
  border-top: 1px solid #fbb3ec;
  display: block;
}



.rbc-date-cell{

      text-align: center;
}
.rbc-day-bg{
      background-color: #eab20831;
}
.rbc-button-link{
      font-size: large;
      
}
    
     
    